/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.App {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  border-radius: 5px;
  border: none;
  font-size: 4em;
  cursor: pointer;
}
.count {
  margin: 20px;
  font-size: larger;
} */
